<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="utf-8">


<link href="styles/style.css" rel="stylesheet"></link>
</head>

<body>
    <div class="containerhead">
        <header class="header">
            <a href="index.html">Erlinde <br> Meertens</a>
         </header>
            <div class ="nav">
                <nav class="menu">
                    <a href="cv.html">cv</a>
                    <a href="linguistics.html">linguistics</a>
                    <a href="blog.html">blog</a>
                </nav>
            </div>
    </div>

    <main>
        {{content}}
    </main>

</body>
</html>

