<!DOCTYPE html>
<html lang="nl">
<head>
 <meta charset="UTF-8">
<meta name="description" content="Personal Website of Erlinde Meertens">
<meta name="keywords" content="java, linguistics, erlinde, meertens, accenture, semantics">
<meta name="author" content="Erlinde Meertens">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="styles/style.css" rel="stylesheet"></link>
<title>Erlinde Meertens</title>
<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 

</head>

<body>
    <div class="containerhead">
        <div class="containerbuttons">
            <a href="https://www.twitter.com/erlindemeer" class="fa fa-twitter"></a>
            <a href="https://nl.linkedin.com/in/erlinde-meertens-97945043" class="fa fa-linkedin"></a>
        </div>
        <header class="header">
            <a href="index">Erlinde <br> Meertens</a> 
        </header>
        <div class ="nav">
             <nav class="menu">
                <a href="cv">cv</a>
                <a href="linguistics">linguistics</a>
                <a href="blog">blog</a>
            </nav>
        </div>
    </div>

    <main>
        {{content}}
    </main>

</body>
</html>

